{
  "root": true,
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true
  },
  "extends": ["plugin:vue/vue3-recommended", "plugin:react/recommended", "prettier"],
  "plugins": ["vue", "react", "html", "prettier"],
  "rules": {
    "react/react-in-jsx-scope": "off"
  }
}
